# Prática  - Banco de Dados com SQLite

In [1]:
import sqlite3
banco = sqlite3.connect('empresa.db')

In [2]:
# Criando um cursor para operar comandos SQL
cursor = banco.cursor()

In [ ]:
# Criando uma tabela 'estudantes' com os campos nomeEstudante, idade, email
cursor.execute("CREATE TABLE estudantes(idEstudante integer, nomeEstudante text, idade integer, email text, idDepartamento integer)")
# Inserindo dados na tabela
cursor.execute("INSERT INTO estudantes VALUES(1, 'Maria', 40, 'mariadosanjos@mentorama.com',2)")
banco.commit()

In [4]:
# Consulta dados da tabela 'estudantes'
cursor.execute("SELECT * FROM estudantes")
print(cursor.fetchall())

[(1, 'Maria', 40, 'mariadosanjos@mentorama.com', 2)]

2 - Manipulando dados com SQLite
Inserindo n dados em uma tabela

In [5]:
# Primeiro criamos uma lista com conteúdo a ser inserido, na mesa ordem dos tipos de dados
listaestudantes = [('2', 'Felipe', '18', 'felipe@mentorama.com', '1'),
                   ('3', 'Maria', '45','maria@mentorama.com', '4'),
                   ('4', 'João', '33', 'joao@mentorama.com', '4'),
                   ('5', 'Lucia', '17', 'lucia@mentorama.com', '2'),
                   ('6', 'Pedro', '32', 'pedro@mentorama.com', 'NULL'),
                   ('7', 'Izabela', '23', 'izabela@mentorama.com', '3'),
                   ('8', 'Eduardo', '59', 'eduardo@mentorama.com', '4'),
                   ('9', 'Tiago', '38', 'tiago@mentorama.com', '5'),
                   ('10', 'Ana', '25', 'ana@mentorama.com', 'NULL'),
                   ('11', 'Carol', '36', 'carol@mentorama.com', '2'),
                   ('12', 'Leonardo', '28', 'leonardo@mentorama.com', '3'),
                   ('13', 'Vanessa', '45', 'vanessa@mentorama.com', '4'),
                   ('14', 'João', '43', 'joaopedro@mentorama.com', '5'),
                   ('15', 'Mari', '25', 'mari@mentorama.com', '6')]

In [6]:
# Inserimos os dados da Lista dentroi da tabela
cursor.executemany("""INSERT INTO estudantes VALUES (?,?,?,?,?)""", listaestudantes)
print("Dados inseridos com sucesso")
banco.commit()

Dados inseridos com sucesso

In [8]:
# Conculta dados da tabela 'estudantes'
cursor.execute("SELECT * FROM estudantes")
print(cursor.fetchall())
print('Dados inseridos com sucesso')

[(1, 'Maria', 40, 'mariadosanjos@mentorama.com', 2), (2, 'Felipe', 18, 'felipe@mentorama.com', 1), (3, 'Maria', 45, 'maria@mentorama.com', 4), (4, 'João', 33, 'joao@mentorama.com', 4), (5, 'Lucia', 17, 'lucia@mentorama.com', 2), (6, 'Pedro', 32, 'pedro@mentorama.com', 'NULL'), (7, 'Izabela', 23, 'izabela@mentorama.com', 3), (8, 'Eduardo', 59, 'eduardo@mentorama.com', 4), (9, 'Tiago', 38, 'tiago@mentorama.com', 5), (10, 'Ana', 25, 'ana@mentorama.com', 'NULL'), (11, 'Carol', 36, 'carol@mentorama.com', 2), (12, 'Leonardo', 28, 'leonardo@mentorama.com', 3), (13, 'Vanessa', 45, 'vanessa@mentorama.com', 4), (14, 'João', 43, 'joaopedro@mentorama.com', 5), (15, 'Mari', 25, 'mari@mentorama.com', 6)]
Dados inseridos com sucesso

In [11]:
# Update - Ipad figura 1
# Criamos o comando sql e depois executamos com o cursor
sql = """
UPDATE estudantes
SET nomeEstudante = 'Felipe'
WHERE nomeEstudante = 'Diego'
"""

cursor.execute(sql)
banco.commit()
print('Registros atualizados com sucesso !')

Registros atualizados com sucesso !

In [12]:
# Consulta dados da tabela 'estudantes'
cursor.execute("SELECT * FROM estudantes")
print(cursor.fetchall())

[(1, 'Maria', 40, 'mariadosanjos@mentorama.com', 2), (2, 'Felipe', 18, 'felipe@mentorama.com', 1), (3, 'Maria', 45, 'maria@mentorama.com', 4), (4, 'João', 33, 'joao@mentorama.com', 4), (5, 'Lucia', 17, 'lucia@mentorama.com', 2), (6, 'Pedro', 32, 'pedro@mentorama.com', 'NULL'), (7, 'Izabela', 23, 'izabela@mentorama.com', 3), (8, 'Eduardo', 59, 'eduardo@mentorama.com', 4), (9, 'Tiago', 38, 'tiago@mentorama.com', 5), (10, 'Ana', 25, 'ana@mentorama.com', 'NULL'), (11, 'Carol', 36, 'carol@mentorama.com', 2), (12, 'Leonardo', 28, 'leonardo@mentorama.com', 3), (13, 'Vanessa', 45, 'vanessa@mentorama.com', 4), (14, 'João', 43, 'joaopedro@mentorama.com', 5), (15, 'Mari', 25, 'mari@mentorama.com', 6)]

Deletando registros

In [13]:
# Deletando Ipad figura 2
sql = """
DELETE FROM estudantes
WHERE nomeEstudante = 'Maria'
"""
cursor.execute(sql)
banco.commit()
print('Registros deletados com sucesso')

Registros deletados com sucesso

In [14]:
# Consulta dados da tabela 'estudantes'
cursor.execute("SELECT * FROM estudantes")
print(cursor.fetchall())

[(2, 'Felipe', 18, 'felipe@mentorama.com', 1), (4, 'João', 33, 'joao@mentorama.com', 4), (5, 'Lucia', 17, 'lucia@mentorama.com', 2), (6, 'Pedro', 32, 'pedro@mentorama.com', 'NULL'), (7, 'Izabela', 23, 'izabela@mentorama.com', 3), (8, 'Eduardo', 59, 'eduardo@mentorama.com', 4), (9, 'Tiago', 38, 'tiago@mentorama.com', 5), (10, 'Ana', 25, 'ana@mentorama.com', 'NULL'), (11, 'Carol', 36, 'carol@mentorama.com', 2), (12, 'Leonardo', 28, 'leonardo@mentorama.com', 3), (13, 'Vanessa', 45, 'vanessa@mentorama.com', 4), (14, 'João', 43, 'joaopedro@mentorama.com', 5), (15, 'Mari', 25, 'mari@mentorama.com', 6)]

Deletando uma tabela

In [15]:
sql = """
DROP TABLE estudantes
"""
cursor.execute(sql)
banco.commit()
print("Tabela deletada com sucesso")

Tabela deletada com sucesso

In [16]:
# Conculta dados da tabela 'estudantes'
cursor.execute("SELECT * FROM estudantes")
print(cursor.fetchall())

OperationalError: no such table: estudantes