In [1]:
import pandas as pd

In [2]:
# iniciando e immprimindo uma serie
s = pd.Series  ([3, -5, 7, 4], index= ['a', 'b', 'c', 'd'])
print(s)

a    3
b   -5
c    7
d    4
dtype: int64

In [3]:
# recuperar umm lemento atraves do seu indexador
s['b']

-5

In [4]:
# iniciando um DataFrame
data = {
    'Pais': ['Belgica', 'India', 'Brasil'],
    'Capital': ['Bruxelas', 'Nova Delhi', 'Brasilia'],
    'Populacao': [123465, 456789, 987654]
}
df = pd.DataFrame(data, columns=['Pais', 'Capital', 'Populacao'])

In [5]:
# Imprimindo o DataFrame
print(df)

      Pais     Capital  Populacao
0  Belgica    Bruxelas     123465
1    India  Nova Delhi     456789
2   Brasil    Brasilia     987654

In [6]:
# buscando ajuda
# help(pd.Series.loc)

In [7]:
# ver o comeco de um conteudo de um DataFrame
df.head()

      Pais     Capital  Populacao
0  Belgica    Bruxelas     123465
1    India  Nova Delhi     456789
2   Brasil    Brasilia     987654

In [8]:
# recuperar um subconjunto de um DataFrame
df[:1]

      Pais   Capital  Populacao
0  Belgica  Bruxelas     123465

In [9]:
df[1:]

     Pais     Capital  Populacao
1   India  Nova Delhi     456789
2  Brasil    Brasilia     987654

In [10]:
# recuperar umm unico valor considerando a linha e coluna  - que esteja na linha 0 na coluna pais
df.loc[[0], ['Pais']]

      Pais
0  Belgica

In [11]:
# REMOVENDO LINHAS E COLUNAS

# podemos remover linhas pelo index
s.drop('a') # serie 'a'temm o valor 3

b   -5
c    7
d    4
dtype: int64

In [12]:
# podemos remover colunas usando o argumento axis = 1
df.drop('Pais',  axis=1)

      Capital  Populacao
0    Bruxelas     123465
1  Nova Delhi     456789
2    Brasilia     987654

# Lendo e escrevendo em arquivo CSV

In [13]:
# lendo ummm arquivo csv e definindo o iso que e uma convencao de escrita que nos permite trabalhar
path = r"C:\Users\vitor\OneDrive\VITOR\Python\Modulo11 - Analise e visualizacao de dados\Dados\meu_arquivo.csv"
df = pd.read_csv(path, encoding='ISO-8859-1') # utf-8

In [14]:
# escrevendo e salvando um arquivo do tipo csv
df.to_csv()

',"Index,Nome,Idade"\r\n0,"0,José,55"\r\n1,"1,Maria,13"\r\n2,"2,João,65"\r\n'

# Lendo e  escrevendo em um arquivo excel

In [17]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\vitor\PycharmProjects\mentorama\venv\Scripts\python.exe -m pip install --upgrade pip' command.

In [18]:
path = r"C:\Users\vitor\OneDrive\VITOR\Python\Modulo11 - Analise e visualizacao de dados\Dados\meu_arquivo_excel.xlsx"
xlsx = pd.ExcelFile(path)
dfs = pd.read_excel(xlsx, sheet_name='Planilha1')
print(dfs)

   Index   Nome  Idade
0      0   José     55
1      1  Maria     13
2      2   João     65

# Coletando informacoes sobre o DataFrame

In [19]:
# quantidade de linhas e colunas do DataFrame
df.shape

(3, 1)

In [20]:
# descricao index
df.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
# colunas presentes no DataFrame
df.columns

Index(['Index,Nome,Idade'], dtype='object')

In [22]:
# contagem de dados nao-nulos
df.count()

Index,Nome,Idade    3
dtype: int64

# Criando uma nova coluna em um DataFrame

In [23]:
df['Nova Coluna'] = 0
print(df)

  Index,Nome,Idade  Nova Coluna
0        0,José,55            0
1       1,Maria,13            0
2        2,João,65            0

In [26]:
# Renomeando colunas de uma DataFrame
df.columns = ['Coluna1', 'Coluna 2']

In [27]:
print(df)

      Coluna1  Coluna 2
0   0,José,55         0
1  1,Maria,13         0
2   2,João,65         0

In [28]:
# renomeando colunas especificas
df.rename({'Nome teste' : 'Coluna1', 'Idade teste' : 'Coluna 2'})

      Coluna1  Coluna 2
0   0,José,55         0
1  1,Maria,13         0
2   2,João,65         0

In [29]:
print(df)

      Coluna1  Coluna 2
0   0,José,55         0
1  1,Maria,13         0
2   2,João,65         0

In [30]:
df.rename({'Coluna1':'Nome Teste', 'Coluna 2': 'Idade Teste'})

      Coluna1  Coluna 2
0   0,José,55         0
1  1,Maria,13         0
2   2,João,65         0

In [31]:
# iniciando um DataFrame
data = {
    'Pais': ['Belgica', 'India', 'Brasil'],
    'Capital': ['Bruxelas', 'Nova Delhi', 'Brasilia'],
    'Populacao': [123465, 456789, 987654]
}
df = pd.DataFrame(data, columns=['Pais', 'Capital', 'Populacao'])

In [32]:
print(df)

      Pais     Capital  Populacao
0  Belgica    Bruxelas     123465
1    India  Nova Delhi     456789
2   Brasil    Brasilia     987654

In [33]:
df['Nova Coluna'] = 0
print(df)

      Pais     Capital  Populacao  Nova Coluna
0  Belgica    Bruxelas     123465            0
1    India  Nova Delhi     456789            0
2   Brasil    Brasilia     987654            0

In [34]:
# Renomeando colunas de uma DataFrame
df.columns = ['Coluna  1', 'Coluna 2', 'Coluna 3', 'Coluna  4' ]

In [35]:
print(df)

  Coluna  1    Coluna 2  Coluna 3  Coluna  4
0   Belgica    Bruxelas    123465          0
1     India  Nova Delhi    456789          0
2    Brasil    Brasilia    987654          0

In [37]:
# iniciando um DataFrame
data = {
    'Pais': ['Belgica', 'India', 'Brasil'],
    'Capital': ['Bruxelas', 'Nova Delhi', 'Brasilia'],
    'Populacao': [123465, 456789, 987654]
}
df = pd.DataFrame(data, columns=['Pais', 'Capital', 'Populacao'])

In [40]:
df['Nova Coluna'] = 0
print(df)

      Pais     Capital  Populacao  Nova Coluna
0  Belgica    Bruxelas     123465            0
1    India  Nova Delhi     456789            0
2   Brasil    Brasilia     987654            0

In [41]:
print(df)

      Pais     Capital  Populacao  Nova Coluna
0  Belgica    Bruxelas     123465            0
1    India  Nova Delhi     456789            0
2   Brasil    Brasilia     987654            0

In [43]:
# renomeando colunas especificas
df.rename({'Pais':'Coluna  1', 'Capital':'Coluna 2', 'Populacao':'Coluna 3', 'Nova Coluna':'Coluna  4'}, axis='columns')

  Coluna  1    Coluna 2  Coluna 3  Coluna  4
0   Belgica    Bruxelas    123465          0
1     India  Nova Delhi    456789          0
2    Brasil    Brasilia    987654          0

# Mais  operacoes sobre DataFrame

In [46]:
# Soma dos valores de um Dataframe
df.sum()

Pais                   BelgicaIndiaBrasil
Capital        BruxelasNova DelhiBrasilia
Populacao                         1567908
Nova Coluna                             0
dtype: object

In [47]:
# Menor valor de um DataFrame
df.min()

Pais            Belgica
Capital        Brasilia
Populacao        123465
Nova Coluna           0
dtype: object

In [48]:
# Maior valor  DataFrame
df.max()

Pais                India
Capital        Nova Delhi
Populacao          987654
Nova Coluna             0
dtype: object

In [49]:
# Index do menor valor
df.idxmin

<bound method DataFrame.idxmin of       Pais     Capital  Populacao  Nova Coluna
0  Belgica    Bruxelas     123465            0
1    India  Nova Delhi     456789            0
2   Brasil    Brasilia     987654            0>

In [52]:
# Index do maior valor
df.idxmax

<bound method DataFrame.idxmax of       Pais     Capital  Populacao  Nova Coluna
0  Belgica    Bruxelas     123465            0
1    India  Nova Delhi     456789            0
2   Brasil    Brasilia     987654            0>

In [53]:
# Resumo estatistico do DataFrame, com quartis, mmediana, etc
df.describe()

           Populacao  Nova Coluna
count       3.000000          3.0
mean   522636.000000          0.0
std    435841.172317          0.0
min    123465.000000          0.0
25%    290127.000000          0.0
50%    456789.000000          0.0
75%    722221.500000          0.0
max    987654.000000          0.0

In [54]:
# Media dos valores
df.mean()

C:\Users\vitor\AppData\Local\Temp\ipykernel_17816\428035801.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Populacao      522636.0
Nova Coluna         0.0
dtype: float64

In [55]:
# Mediana dos valores
df.median()

C:\Users\vitor\AppData\Local\Temp\ipykernel_17816\3939118096.py:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Populacao      456789.0
Nova Coluna         0.0
dtype: float64

# Ordenando Valores
Maiores informacoes na documentacao https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

In [57]:
s  = pd.Series ([3, -5, 7, 4], index= ['a', 'b', 'c', 'd'])

In [58]:
#  Ordenando emm ordem crescente
df.sort_values(s, axis=1)

KeyError: a    3
b   -5
c    7
d    4
dtype: int64

In [62]:
# ordenando em ordem decrescente
df.sort_values(s, ascending=False)

KeyError: a    3
b   -5
c    7
d    4
dtype: int64